.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    z-index: 999;
    font-size: 18px;
    color: #fff;
    background-color: #00AFEF;
    padding: 40px;
    overflow-y: auto;
}

.sidebar li button {
    padding: 0;
    padding-right: 30px;
    border: none;
    position: relative
} 

.sidebar li button:hover {
    background-color: transparent;
    color: #fff;
    border: none;
    box-shadow: none;
} 

.sidebar li button div {
    font-size: 18px;
}

.sidebar li button svg {
    position: absolute;
    right: 0;
    top: 5px;
}


.logo {
    margin-bottom: 30px;
}

.closeIcon { display: none; }
.sidebar li {
    padding: 10px 10px;
    padding-left: 45px;
    position: relative;
    margin-bottom: 20px;
}

.icon { 
    position: absolute;
    top: 13px;
    left: 13px;
}

.sidebar li a {
    font-size: 18px;
    color: #fff;
}

.sidebar li ul {
    padding-top: 20px;
}
.sidebar li ul li {
    min-width: 180px;
    padding: 10px 10px 10px 15px;
    margin-bottom: 20px;
}

.current {
    border-radius: 5px;
    background-color: #fff;
}
li.current a {
    color: #00AFEF;
}

.current .icon {
    color: #00AFEF;
}

.subitems {
    margin-left: 4px;
}

.subitems .icon {
    left: -15px !important;
}

@media (max-width: 1024px) {
    .sidebar .title {
        display: none;
    }
    .logo {
        display: none;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100;
        height: 100vh;
        z-index: 999;
        font-size: 18px;
        color: #fff;
        background-color: #00AFEF;
        padding: 20px;
        overflow-y: auto;
    }

    .sidebar li {
        padding-bottom: 30px;
    }

    .sidebar li button svg {
        position: absolute;
        right: 10px;
        top: -10px;
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 0;
        padding: 0;
    }

    .sidebarMobileVisible {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 999;
        font-size: 18px;
        color: #fff;
        background-color: #00AFEF;
        padding: 40px;
        overflow-y: auto;
        text-align: center;
    }
    
    .sidebarMobileVisible li { padding: 10px; }
    .sidebarMobileVisible li span { color: #fff; }

    .sidebarMobileVisible .current  span{ color: #00AFEF; }

    .sidebarMobileVisible li button { position: relative; border: none; }
    .sidebarMobileVisible li button svg { position: absolute; right: 5px; top: 18px; color: #fff; }
    .sidebarMobileVisible li .icon { display: none; }

    .sidebarMobileVisible li button:hover { background: transparent; box-shadow: none; }

    .closeIcon { font-size: 30px; position: absolute; top: 20px; left: 20px; color: #fff; }
}
