.sidebar {
    font-size: 18px;
    color: #fff;
    background-color: #00AFEF;
    padding: 40px;
}

.logo {
    margin-bottom: 30px;
}

.sidebar li {
    padding: 10px 10px;
    padding-left: 45px;
    position: relative;
    margin-bottom: 20px;
}

.icon { 
    position: absolute;
    top: 13px;
    left: 13px;
}

.sidebar li a {
    font-size: 18px;
    color: #fff;
}

.current {
    border-radius: 5px;
    background-color: #fff;
}
li.current a {
    color: #00AFEF;
}

.current .icon {
    color: #00AFEF;
}