@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #fff;
  --primary: #0092b5; /* Главен цвят */
  --primary-dark: #007a99; /* По-тъмен нюанс за hover ефекти */
  --text-on-primary-black: #000; /* Текст върху главния цвят */
  --text-on-primary-white: #fff; /* Текст върху главния цвят */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff; /* По-тъмен фон за тъмен режим */
    --foreground: #000; /* Светъл текст за тъмен режим */
    --text-on-primary-black: #000; /* Текст върху главния цвят */
    --text-on-primary-white: #fff; /* Текст върху главния цвят */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  flex: 1;
  margin-left: 0;
  background-color: #f4f4f9; /* Светлосив фон за съвпадение с container */
  border-left: 1px solid #fff;
}

/* Осигуряване на контраст за секции с главния цвят */
.bg-primary {
  background-color: var(--primary);
}

.text-on-primary-black {
  color: var(--text-on-primary-black);
}

.text-on-primary-white {
  color: var(--text-on-primary-white);
}

.bg-primary-dark:hover {
  background-color: var(--primary-dark);
}