@import "tailwindcss";

:root {
  --background: #ffffff;
  --background-blue: #00AFEF;
  --foreground: #fff;
  --text-on-primary-black: #000; /* Текст върху главния цвят */
  --text-on-primary-white: #fff; /* Текст върху главния цвят */
  --text-on-primary-blue: #00AFEF;
  --text-on-primary-grey: #808080;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff; /* По-тъмен фон за тъмен режим */
    --foreground: #000; /* Светъл текст за тъмен режим */
    --text-on-primary-black: #000; /* Текст върху главния цвят */
    --text-on-primary-white: #fff; /* Текст върху главния цвят */
    --text-on-primary-grey: #808080; /* Текст върху главния цвят */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  flex: 1;
  margin-left: 0;
  background-color: #f4f4f9; /* Светлосив фон за съвпадение с container */
  border-left: 1px solid #fff;
}

/* Осигуряване на контраст за секции с главния цвят */
.bg-primary {
  background-color: var(--primary);
}

.text-on-primary-black {
  color: var(--text-on-primary-black);
}

.text-on-primary-white {
  color: var(--text-on-primary-white);
}

.bg-primary-dark:hover {
  background-color: var(--primary-dark);
}
h1, h2, h3, h4, h5, a, input, label { color: var(--text-on-primary-black); }

p { color: var(--text-on-primary-grey); }

.ag-header-row {
  background-color: rgb(224, 247, 255) !important;
}

button { 
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 20px;
  color: var(--text-on-primary-white);
  background-color: var(--text-on-primary-blue);
  transition: all 0.5s ease;
  border: 1px solid var(--text-on-primary-white);
  cursor: pointer;
}

button:hover {
  background-color: var(--text-on-primary-white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  border: 1px solid var(--text-on-primary-blue);
  color: var(--text-on-primary-blue);
}

a {
  color: var(--text-on-primary-blue);
  transition: all 0.5s ease;
}

a:hover {
  color: var(--text-on-primary-black);
}