.header {
  padding-top: 25px;
  padding-bottom: 25px;
}
.headerInner {
  display: flex;
  justify-content: end;
}

.headerInnerSecondary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 340px;
}

.headerDashboard {
  margin-left: 490px;
}