.header {
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.burger { display: none; cursor: pointer; }

.company { 
    font-size: 20px;
    color: var(--text-on-primary-blue);
}

@media (max-width: 768px) {
    .company { font-size: 16px; }

    .burger { display: block; font-size: 28px; }

    .header { padding: 0 20px; }
}