.button {
    background-color: #E0F5FD;
    color: #00AFEF;
    border-radius: 30px;
    font-size: 18px;
    margin-bottom: 10px;
}

.total {
    padding: 10px;
    border-radius: 10px;
    background-color: #f3f3f3;
    width: 100%;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.total label {
    margin-right: 10px;
    font-size: 16px;
}

.total input {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    background-color: #fff;
}