.contact {
  margin-bottom: 50px;
  position: relative;
}

.head {
  padding: 30px;
  max-width: 1130;
  margin: 0 auto;
  border: 1px solid #D0D5DD;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 -2px 4px rgba(0, 0, 0, 0.05);
}

.summary {
  top: -40px;
  position: relative;
  width: 37%;
  padding: 30px;
  background-color: #00AFEF;
  color: #fff;
  border-radius: 20px;
  padding-bottom: 100px;
  height: 500px;
}

.summary h4 {
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: bold;
}

.summary p {
  width: 270px;
  margin-bottom: 30px;
  font-size: 15px;
}

.summary li {
  margin-bottom: 30px;
  font-size: 20px;
}

.form {
  width: 60%;
}

.form input, .form textarea {
  border: 1px solid #EDEDED;
  border-radius: 5px;
  width: 100%;
  padding: 10px 20;
  background-color: #FBFBFB;
  margin-bottom: 20px;
}

.form label { display: block; }

.form p { margin-top: -20px; margin-bottom: 20px; color: red }

.form button {
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #00AFEF;
  color: #fff;
  float: right;
}

.form:after {
  content: '';
  display: block;
  clear: both;
}

.feature {
  position: relative;
  padding-left: 35px;
}

.featureIcon { 
  position: absolute; top: 7; left: 0; 
}