.dashboard {
    display: flex;
    justify-content: start;
    width: 100%;
    background-color: #E9EBED;
    height: 100vh;
}

.dashboardInner { 
    width: 100%;
}

.content { 
    background-color: #E9EBED;
}