.dashboard {
    padding-left: 300px;
    width: 100%;
    background-color: #E9EBED;
    height: 100vh;
}

.dashboardInner { 
    width: 100%;
}

.content { 
    padding: 40px;
    background-color: #E9EBED;
}

@media (max-width: 1024px) {
    .dashboard {
        padding-left: 100px;
    }
}